.search-bar {
  color:white;

  &__container {
    position: relative;
    margin-top: 3rem;
    text-align: center;
    .search-bar__input {
      box-shadow: 0 0 15px 1px #555;
    }
  }

  &__input-container {
    position: relative;
    z-index: 10;
  }

  &__input {
    height: 3.5rem;
    width: 60rem;
    background: rgba(255,255,255,.7);
    border: solid 1px transparent;
    box-shadow: none;
    padding: 0 2rem;
    vertical-align: middle;
    font-size: 1.5rem;
    border-radius: 100px 0 0 100px;
    border-radius: 100px;

    &:focus {
      box-shadow: none;
    }
  }

  &__label {
    color:white;
    padding: 2rem;
  }

  &--small {

    .search-bar__container {
      margin-top: 0rem;

      .search-bar__input {
        height: 3rem;
        width: 30rem;
        border-radius: 100px;
        border: solid 1px white;
        border-right: solid 1px white;
        font-size: 1rem;
        box-shadow: none;

        &:focus {
          border: solid 1px #999;
        }

        @include respond(phone) {
          width: 100%;
          height: 4rem;
          border-radius: 0;
        }
      }
    }
  }

  button {
    font-size: 1.5rem;
    height: 3.5rem;
    width: 6rem;
    padding: 0 3rem;
    line-height: 3rem;
    border: solid 1px transparent;
    background: transparent;
    color: #555;
    vertical-align: middle;
    margin-left: -7rem;
  }
}
