.search-suggestions {
  width: 62rem;
  position: absolute;
  left: 50%;
  top:-1rem;
  transform: translateX(-50%);
  padding-top: 6rem;
  background: white;
  z-index: 0;
  border-radius: 20px;
  opacity: 1;
  overflow: hidden;


  &--small {
    width: 32rem;
    padding-top: 5rem;
    border-radius: 15px;
    border: solid 1px #999;

    @include respond(phone) {
      top:0;
      width: 100%;
      border-radius: 0px;
    }
  }

  &.fade-enter-active{
    transition: opacity .2s;
  }

  &.fade-leave-active {
    transition: opacity .5s;
  }

  &.fade-enter, &.fade-leave-to {
    opacity: 0;
  }

  &__list {
    list-style: none;
  }

  &__item {

    &--active {
      background-color: darken(white, 10%);
    }

    label {
      cursor: pointer;
    }

    padding: 1rem 4rem;
    text-align: left;
    color: black;
    font-size: 1.5rem;

    &--subtitle {
      color: #777;
      font-size: 1.2rem;
    }
  }
}
