.card-row {
  text-align: center;
  margin: auto;
  max-width: 1000px;
}
.card-container {
  display: inline-block;
  width: 33%;

  @include respond(phone) {
    display: block;
    width: inherit;
  }
}

.width-limit {
  margin: auto;
  max-width: 1000px;
}
