.filler {
  width: 100%;
  height: 100%;
}

.gutter-vertical {
  margin-left:  $gutter-horizontal;
  margin-right: $gutter-horizontal;

  &--small {
    margin-left:  $gutter-horizontal-small;
    margin-right: $gutter-horizontal-small;
  }

  &--large {
    margin-left:  $gutter-horizontal-large;
    margin-right: $gutter-horizontal-large;
  }

  &--huge {
    margin-left:  $gutter-horizontal-huge;
    margin-right: $gutter-horizontal-huge;
  }
}

.gutter-horizontal {
  margin-top:    $gutter-horizontal;
  margin-bottom: $gutter-horizontal;

  &--small {
    margin-top:    $gutter-horizontal-small;
    margin-bottom: $gutter-horizontal-small;
  }

  &--large {
    margin-top:    $gutter-horizontal-large;
    margin-bottom: $gutter-horizontal-large;
  }

  &--huge {
    margin-top:    $gutter-horizontal-huge;
    margin-bottom: $gutter-horizontal-huge;
  }
}
