.header {
    position: fixed;
    z-index: 20;
    top:0;
    width: 100%;
    height: 4rem;
    padding: .2rem 0;
    color:white;
    background-color: darken(#88AFDD, 10%);
    transition: background-color .3s, height .5s, padding .5s;

    &.top {
        height: 6rem;
        padding: 1rem 0;
        transition: background-color .1s;
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    }



    &__container {
      height: 4rem;
      > div {
        margin-right: 3rem;
        display: inline-block;
        &:first-child {
          margin-left: 3rem;
        }
      }
    }

    &__headline {
      line-height: 4rem;
      font-size: 1.5rem;
      font-family: "Oswald";

      @include respond(phone) {
        display: none !important;
      }
    }

    &__logo {
        height:7rem;
        width: 7rem;
        border-radius: 100px;
        background-color: #f0f0f0;
        line-height: 4rem;
        font-size: 1.5rem;
        transition: height .5s, width .5s;
    }

    &.top {
        .header__logo {
          transition: height .1s, width .1s;
          height:4rem;
          width: 4rem;
        }
    }

    &__links {
      a {
        display: inline-block;
        font-size: 1.5rem;
        position: relative;
        font-family: "Oswald";
        line-height: 4rem;
      }

      @include respond(phone) {
        display: none !important;
      }
    }

    &__nav {
      position: absolute;
      right: 3rem;
      height: 4rem;
      --line-height: 4rem;

      //!\ WHY??
      @include respond(phone) {
        line-height: 4rem;
      }

      > div {
        display: inline-block;
        margin-left: 3rem;

        &:first-child {
          margin-left: 0;
        }

      }
    }

    &__search {
      //dirty align fix by hand
      //!\ understand and fix that
      position: relative;
      top: -.6rem;

      &.home {
        opacity: 1;
      }
    }

    &.top {
      .header__search {
        top:-.2rem;

        &.home {
          opacity: 0;
        }
      }


    }
}
